<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>Fort - Real Estate HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-submenu.css">

    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/leaflet.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/map.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/linearicons/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="~/Content/css/skins/default.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="~/Content/text/css" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="~/Content/text/css" href="css/ie10-viewport-bug-workaround.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script  src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/Scripts/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script  src="js/html5shiv.min.js"></script>
    <script  src="js/respond.min.js"></script>
    <![endif]-->
</head>
@using Models;
@{
    Models.Userd userds = Session["Userds"] as Userd;
    Models.Salesman salesman = Session["Salesman"] as Salesman;
}
<body>
    <div class="page_loader"></div>

    <!-- Main header start -->
    <header class="main-header header-2 fixed-header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand logo pad-0" href="index.html">
                    <img src="/logos/black-logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   
                    <div class="navbar-buttons ml-auto d-none d-xl-block d-lg-block">
                        <ul>
                            <li>
                                <div class="dropdown btns">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        @if ( userds.Photo != null)
                                        {
                                            <img src="~/Content/Photo/@userds.Photo" alt="avatar">
                                            @userds.UserName
                                        }
                                        else
                                        {
                                            <img src="~/Content/Photo/a3.jpg" alt="avatar">
                                        }
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="../Business/Property">我的财产</a>
                                        <a class="dropdown-item" href="../Business/Follow">我的关注</a>
                                        <a class="dropdown-item" href="../Business/Index">发布售房</a>
                                        <a class="dropdown-item" href="../Business/LIndex">发布租房</a>
                                        <a class="dropdown-item" href="../Business/Information">个人简历</a>
                                        <a class="dropdown-item" href="../Login/Index">登出</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                @*<a class="btn btn-theme btn-md" href="../Business/Index">发布房源</a>*@
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Main header end -->
    <!-- Dashboard start -->
    <div class="dashboard submit-property">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-pad">
                    <div class="dashboard-nav d-none d-xl-block d-lg-block">
                        <div class="dashboard-inner">
                            <h4 style="font-size:18px;">导航</h4>
                            <ul>
                                <li><a href="../HomePage/Index"><i class="flaticon-dashboard"></i> 首页</a></li>
                                <li @*class="active"*@><a href="../Selling/SellList"><i class="flaticon-mail"></i> 房屋出售 @*<span class="nav-tag">5</span>*@</a></li>
                                <li><a href="../Lease/LeaseDetails"><i class="flaticon-calendar"></i> 房屋出租</a></li>
                            </ul>
                            <h4 style="font-size:18px;">清单</h4>
                            <ul>
                                <li><a href="../Business/Property"><i class="flaticon-apartment"></i>我的财产</a></li>
                                <li><a href="../Business/Follow"><i class="flaticon-heart"></i>我的关注</a></li>
                                <li><a href="../Business/Index"><i class="flaticon-plus"></i>发布售房</a></li>
                                <li><a href="../Business/LIndex"><i class="flaticon-plus"></i>发布租房</a></li>
                            </ul>
                            <h4 style="font-size:18px;">账户</h4>
                            <ul>
                                <li><a href="../Business/Information"><i class="flaticon-user"></i>个人简历</a></li>
                                <li><a href="../Login/Logout"><i class="flaticon-logout"></i>登出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-pad">
                    <div class="content-area5 dashboard-content">
                        @*<div class="dashboard-header clearfix">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6"><h4>Messages</h4></div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="breadcrumb-nav">
                                            <ul>
                                                <li>
                                                    <a href="index.html">Index</a>
                                                </li>
                                                <li>
                                                    <a href="dashboard.html">Dashboard</a>
                                                </li>
                                                <li class="active">Messages</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div>
                            @RenderBody()
                        </div>
                        <p class="sub-banner-2 text-center">© 所有的版权归201817380106何浪所有</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard end -->
    @*Full Page Search*@
    @*<div id="full-page-search">
            <button type="button" class="close">×</button>
            <form action="index.html#">
                <input type="search" value="" placeholder="type keyword(s) here" />
                <button type="submit" class="btn btn-sm button-theme">Search</button>
            </form>
        </div>*@

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/js/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/js/popper.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/bootstrap-submenu.js"></script>
    <script src="~/Scripts/js/rangeslider.js"></script>
    <script src="~/Scripts/js/jquery.mb.YTPlayer.js"></script>
    <script src="~/Scripts/js/bootstrap-select.min.js"></script>
    <script src="~/Scripts/js/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/js/jquery.scrollUp.js"></script>
    <script src="~/Scripts/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/js/leaflet.js"></script>
    <script src="~/Scripts/js/leaflet-providers.js"></script>
    <script src="~/Scripts/js/leaflet.markercluster.js"></script>
    <script src="~/Scripts/js/dropzone.js"></script>
    <script src="~/Scripts/js/slick.min.js"></script>
    <script src="~/Scripts/js/jquery.filterizr.js"></script>
    <script src="~/Scripts/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/js/jquery.countdown.js"></script>
    <script src="~/Scripts/js/maps.js"></script>
    <script src="~/Scripts/js/app.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Scripts/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Custom javascript -->
    <script src="~/Scripts/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
