
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Backstage.cshtml";
}
@using Models;
@{
    Models.Userd userds = Session["Userds"] as Userd;
    Models.Salesman salesman = Session["Salesman"] as Salesman;
}
<div class="submit-address dashboard-list">
    <h4 class="bg-grea-3">发布售房信息</h4>
    <form method="post" action="AddSell" enctype="multipart/form-data" id="formsell">
        <h4 class="bg-grea-3">基本信息</h4>
        @*<input type="hidden" class="input-text" name="UserID" value="1">*@
        <input type="hidden" class="input-text" name="TransactionStatus" value="0">
        <input type="hidden" class="input-text" name="UState" value="0">
        <input type="hidden" class="input-text" name="UserID" value="@userds.UserID">
        <input type="hidden" class="input-text" name="NewTime" value="@DateTime.Now">
        <div class="search-contents-sidebar">
            <div class="row pad-2">
                
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>所在城市</label>
                        <input type="text" class="input-text" name="SellAddress" placeholder="城市名称" required="required" >
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>所在小区</label>
                        <input type="text" class="input-text" name="SellVillage" placeholder="小区名" required="required">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>所在楼层</label>
                        <input type="text" class="input-text" name="SellFloor" placeholder="？层" required="required">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>房屋面积</label>
                        <input type="text" class="input-text" name="SellArea" placeholder="平米" required="required">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>实际面积</label>
                        <input type="text" class="input-text" name="SellAreaTo" placeholder="平米" required="required">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>价格</label>
                        <input type="text" class="input-text" name="SellPrice" placeholder="每平" required="required">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>总价格</label>
                        <input type="text" class="input-text" name="SellPriceTo" placeholder="元" required="required">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>建筑类型</label>
                        <select class="selectpicker search-fields" name="SellAType">
                            <option value="1">板塔结构</option>
                            <option value="2">其他</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>建筑结构</label>
                        <select class="selectpicker search-fields" name="SellBStructure">
                            <option value="1">钢混结构</option>
                            <option value="2">其他</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>房屋类型</label>
                        <input type="text" class="input-text" name="SellHStructurechar" placeholder="？室？厅" required="required">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>装修</label>
                        <select class="selectpicker search-fields" name="SellRenovation">
                            <option value="1">精装</option>
                            <option value="2">毛坯</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>梯户情况</label>
                        <input type="text" class="input-text" name="SellScale" placeholder="？梯？户" required="required">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>供暖方式</label>
                        <select class="selectpicker search-fields" name="SellHeating">
                            <option value="1">集中供暖</option>
                            <option value="2">自给自足</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>房屋</label>
                        <select class="selectpicker search-fields" name="SellOrientation">
                            <option value="1">坐北朝南</option>
                            <option value="2">坐南朝北</option>
                            <option value="3">坐东朝西</option>
                            <option value="4">坐西朝东</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>看房时间</label>
                        <select class="selectpicker search-fields" name="SellTime">
                            <option value="1">上午（8:00-12：00）</option>
                            <option value="2">下午（14：00-18:00）</option>
                            <option value="3">晚上（19:30-22:00）</option>
                            <option value="4">全天（8:00-22:00）</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="bg-grea-3">交易属性</h4>
        <div class="row pad-2">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>房屋年限</label>
                    <input type="text" class="input-text" name="TransactionYears" placeholder="默认为70-以住年限" required="required">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>上架时间</label>
                    <input type="text" class="input-text" name="TransactionTime" placeholder="年/月/日" required="required">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>上次交易时间</label>
                    <input type="text" class="input-text" name="TransactionOldTransaction" placeholder="年/月/日" required="required">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>交易权属（是否为商品房）</label>
                    <select class="selectpicker search-fields" name="TransactionCommodity">
                        <option value="1">是</option>
                        <option value="2">否</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>房屋用途</label>
                    <select class="selectpicker search-fields" name="TransactionPurpose">
                        <option value="1">住房</option>
                        <option value="2">店铺</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>是否抵押</label>
                    <select class="selectpicker search-fields" name="TransactionMortgage">
                        <option value="1">无抵押信息</option>
                        <option value="2">有抵押信息</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>房本备份</label>
                    <select class="selectpicker search-fields" name="TransactionPOC">
                        <option value="1">已备份</option>
                        <option value="2">未备份</option>
                    </select>
                </div>
            </div>
        </div>
        <h4 class="bg-grea-3">上传图片</h4>
        <div class="row pad-20">
            <div class="col-lg-12">
                <input type="file" name="Photo" multiple="multiple" class="form-control update_file" />
            </div>
        </div>
        <h4 class="bg-grea-3">交通出行</h4>
        <div class="row pad-20">
            <div class="col-lg-12">
                <textarea class="input-text" name="SellingTraffic" placeholder="请详细介绍"></textarea>
            </div>
        </div>
        <h4 class="bg-grea-3">周边配套</h4>
        <div class="row pad-20">
            <div class="col-lg-12">
                <textarea class="input-text" name="SellingInfrastructure" placeholder="请详细介绍"></textarea>
            </div>
        </div>
        <h4 class="bg-grea-3">税费服务</h4>
        <div class="row pad-20">
            <div class="col-lg-12">
                <textarea class="input-text" name="SellingTaxation" placeholder="请详细介绍"></textarea>
            </div>
        </div>
        <h4 class="bg-grea-3">户型介绍</h4>
        <div class="row pad-20">
            <div class="col-lg-12">
                <textarea class="input-text" name="SellingIntroduce" placeholder="请详细介绍"></textarea>
            </div>
        </div>
        <h4 class="bg-grea-3">小区介绍</h4>
        <div class="row pad-20">
            <div class="col-lg-12">
                <textarea class="input-text" name="SellingVillage" placeholder="请详细介绍"></textarea>
            </div>
        </div>
        <h4 class="bg-grea-3">人员指定</h4>
        <div class="row pad-2">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>销售</label>
                    <select class="selectpicker search-fields" name="SalesmanID">
                        @{
                            foreach (var item in ViewBag.saman as List<Salesman>)
                            {
                                <option value="@item.SalesmanID">@item.SalesmanName</option>
                            }

                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <label>联系方式</label>
                    <input type="text" class="input-text" name="Phone" required="required">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top:22px;">
                <input type="submit" class="btn btn-md button-theme" value="提交财产" style="width:280px">
            </div>
        </div>
    </form>
</div>


    <script type="text/javascript">
        //选择图片，预览
        function xmTanUploadImg(obj) {
            var imgTypes = new Array();
            imgTypes[0] = "JPG";
            imgTypes[1] = "ICO";
            imgTypes[2] = "PNG";
            imgTypes[3] = "GIF";
            imgTypes[4] = "JPEG";
            imgTypes[5] = "TGA";
            var num = 0;//选错图片格式的个数
            var fl = obj.files.length;
            if (fl <= 7) {

                for (var i = 0; i < fl; i++) {
                    var file = obj.files[i];
                    //判断图片格式
                    var filename = obj.files[i].name;
                    imgType = filename.substring(filename.lastIndexOf(".") + 1, file.length)
                    var reader = new FileReader();
                    //判断是否是图片格式
                    if (imgType.toUpperCase() == imgTypes[0] || imgType.toUpperCase() == imgTypes[1] || imgType.toUpperCase() == imgTypes[2] || imgType.toUpperCase() == imgTypes[3] || imgType.toUpperCase() == imgTypes[4] || imgType.toUpperCase() == imgTypes[5]) {
                        reader.onload = function (e) {
                            img = document.createElement("img");
                            img.src = this.result;
                            img.style.width = "80px";
                            img.style.height = "100px";
                            document.getElementById("showimg").appendChild(img);
                            $("#upload").attr("disabled", false);
                        }
                    } else {
                        num++;
                        alert("你选择的图片格式不正确:" + num + "张图片格式不正确");
                        $("#upload").attr("disabled", true);
                    }

                    reader.readAsDataURL(file);
                }
            } else {

                alert("每次只能上传7张图片");
            }

        }

        function Upload() {

            var param = new FormData(($("#form")[0]));
            $.ajax({
                url: "../HOU/Handler1.ashx",
                data: param,
                type: "post",
                processData: false,
                contentType: false,
                success: function (data) {
                    alert(data)
                },
                error: function (e) {
                    alert(e)
                },


            })
        }
    </script>


