
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Backstage.cshtml";
}

<div class="dashboard-list">
    <h3>我的订单 </h3>
    <table class="manage-table">
        <tbody>
            <tr class="responsive-table">
                <td class="listing-photoo">
                    <img src="~/Content/Image/首页/a1.jpg" alt="listing-photo" class="img-fluid">
                </td>
                <td class="title-container">
                    <h2><a href="#">古风公寓</a></h2>
                    <h5 class="d-none d-xl-block d-lg-block d-md-block"><i class="flaticon-pin"></i> 丹桂苑C栋 </h5>
                    <h6 class="table-property-price">租金：$900 / 每月</h6>
                    <h6 class="table-property-price">入住方式：出售</h6>
                    <h6 class="table-property-price">状态：出售</h6>
                </td>
                <td class="expire-date">4.01.2018</td>
                <td class="action">
                    <a href="#"><i class="fa fa-pencil"></i> 修改</a>
                    <a href="#" class="delete"><i class="fa fa-remove"></i> 删除</a>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
