
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Shopping.cshtml";
}
<style>
    .head {
        width:1920px;
        height:640px;
        margin-top:-100px;
        /*border:1px solid red;*/
        background-image:url(/Content/Image/首页/bannerV2.jpg)
    }
    .head_words {
        /*border: 1px solid red;*/
        font-size: 50px;
        color: white;
        margin-top: 200px;
        margin-left:700px;
        float: left;
    }
    .head_search {
        /*border:1px solid #00ae66;*/
        width:730px;
        height:55px;
        position: absolute;
        left:600px;
        top:350px;
    }
    .btn {
        background: #00ae66;
        width:127px;
        height: 55px;
        float: right;
        border: 0;
        display: block;
        border-radius: 0 2px 2px 0;
        cursor: pointer;
        text-align: center;
        font-size: 18px;
        color: #fff;
        /*border: 1px solid red;*/
    }

    .text {
        max-width:603px;
        width: 800px;
        padding-left: 20px;
        height: 55px;
        line-height: 55px;
        border-radius: 2px;
        font-size: 14px;
        /*border: 1px solid black;*/
    }
    .head_a {
        color: white;
    }

    .a1 {
        position: absolute;
        right: 70%;
        top: 60%;
    }
    .a2 {
        position: absolute;
        right: 57%;
        top: 60%;
    }
    /*中间样式*/
    .introduce {
        width:1920px;
        height:486px;
        background-image:url(/Content/Image/首页/dataV2.jpg);
        text-align:center;
        margin-top:-100px;
    }
    .gold {
        width: 1000px;
        margin:100px auto;
        text-align:center;
    }
    .introduce li {
        display: inline-block;
        background: #80808054;
        float: left;
        width: 246px;
        height: 129px;
        margin: 35px ;
        position: relative;
        padding-top: 35px;
    }
    
    .introduce .gold .clear span label {
        color: white;
        font-size: 25px;
        cursor: pointer;
        font-weight: 400;
    }
    .introduce .gold .clear p {
        color: white;
    }
    .title {
        color: #fff;
        font-size: 20px;
        padding-top: 100px;
        font-weight: 700;
    }
    /*产品介绍*/
    .hand-lianjia {
        width: 1920px;
        height: 486px;
        background-image: url(/Content/Image/首页/bg-app.jpg);
        text-align: center;
        margin-top: -100px;
    }
</style>
<div class="head">
    <span class="head_words">用心恋接每一个家的温暖</span>
    <div class="head_search">
        <input class="text" placeholder="请输入区域、商圈或小区名开始找房" />
        <input class="btn" type="button" value="开始找房" />
    </div>
    <a href="#" class="head_a a1">
        <img src="~/Content/Image/首页/phpAPdvEm.png" style="width:16px;height:16px"/>
    关于仿冒我公司进行不正当竞争行为的郑重声明
    </a>
    <a href="#" class="head_a a2">
        <img src="~/Content/Image/首页/phpAPdvEm (1).png" style="width:16px;height:16px" />
        房地产中介诚信服务承诺及保证书
    </a>
</div>
<div class="introduce">
    <div class="gold">
        <div class="title">库源储备与成交量</div>
        <ul class="clear">
            <li>
                <a href="#" target="_black">
                    <span>
                        <label>暂无</label>
                    </span>
                    <p>出售储存数量</p>
                </a>
            </li>
            <li>
                <a href="#" target="_black">
                    <span>
                        <label>暂无</label>
                    </span>
                    <p>出售储存数量</p>
                </a>
            </li>
            <li>
                <a href="#" target="_black">
                    <span>
                        <label>暂无</label>
                    </span>
                    <p>今日成交数量</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="hand-lianjia">

</div>

